<h1>🍔 Calculadora de Hambúrguer</h1>

<div class="input-group">
  <label>Quantidade de Hambúrgueres:</label>
  <input type="number" [(ngModel)]="quantityOfBurgers" min="1" />
</div>

<!-- Ingredientes Comuns -->
<div class="ingredients">
  <div class="ingredients-header">
    <h2>Ingredientes:</h2>
    <button class="select-all-btn" (click)="selectAllIngredients()">
      Marcar Tudo
    </button>
  </div>

  <ng-container *ngFor="let ingredient of allIngredients">
    <div class="ingredient-item" *ngIf="!ingredient.isSauce">
      <input
        type="checkbox"
        [checked]="selectedIngredientIds.includes(ingredient.id)"
        (change)="toggleIngredient(ingredient.id)"
      />
      <label>{{ ingredient.name }}</label>
    </div>
  </ng-container>
</div>

<!-- Molhos -->
<div class="sauces">
  <div class="ingredients-header">
    <h2>Molhos:</h2>
    <button class="select-all-btn" (click)="selectAllSauces()">
      Marcar Tudo
    </button>
  </div>

  <ng-container *ngFor="let ingredient of allIngredients">
    <div class="ingredient-item" *ngIf="ingredient.isSauce">
      <input
        type="checkbox"
        [checked]="selectedIngredientIds.includes(ingredient.id)"
        (change)="toggleIngredient(ingredient.id)"
      />
      <label>{{ ingredient.name }}</label>
    </div>
  </ng-container>
</div>

<div class="actions">
  <button class="calculate-btn" (click)="calculate()">Calcular</button>
</div>

<div *ngIf="calculationResult" class="results">
  <h2>Resultado</h2>
  <div *ngFor="let result of calculationResult.results" class="result-item">
    <p>
      <strong>{{ result.name }}</strong
      ><br />
      Precisa de {{ result.totalNeeded }} unidades/gramas (Pacotes:
      {{ result.packagesNeeded }})<br />
      Custo: R$ {{ result.cost.toFixed(2) }}
    </p>

    <div *ngIf="result.subResults?.length > 0" class="sub-results">
      <h4>Subingredientes:</h4>
      <div *ngFor="let sub of result.subResults" class="sub-result-item">
        <p>
          ➔ <strong>{{ sub.name }}</strong
          ><br />
          Precisa de {{ sub.totalNeeded.toFixed(2) }} unidades/gramas (Pacotes:
          {{ sub.packagesNeeded }})<br />
          Custo: R$ {{ sub.cost.toFixed(2) }}
        </p>
      </div>
    </div>
  </div>

  <p class="summary">
    <strong
      >Custo Total: R$ {{ calculationResult.totalCost.toFixed(2) }}</strong
    >
  </p>
  <p class="summary">
    <strong
      >Custo por Hambúrguer: R$
      {{ calculationResult.costPerBurger.toFixed(2) }}</strong
    >
  </p>
</div>
